.game-button-span {
  font-family: 'Lobster', cursive;
  font-size: 2em;
  color: #C5C6C7;
  -webkit-transition: font-size 0.2s; /* For Safari 3.1 to 6.0 */
  transition: font-size 0.2s;
}

.game-button-span:hover {
  font-size: 2.3em;
}

.off {
  opacity: 0.4;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}


@media only screen and (max-width: 768px) {
  .game-button-span {
    font-size: 18px;
  }

  .game-button-span:hover {
    font-size: 20px;
  }
}
