.App {
  text-align: center; 
  margin-top: 5em;
}

.button-container {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 5em;
  margin-bottom: 4em;
}