.comment-text {
  color: #C5C6C7;
  font-family: 'Lobster', cursive;
  font-size: 25px;
  right: 15%;
  bottom: -50px;
  position: absolute;
  visibility: hidden;
}

.comment-text.animate {
  animation: up-down 2s;
}

@keyframes up-down {
  0% { bottom: -50px; visibility: hidden }
  10% { bottom: 20px; visibility: visible }
  90% { bottom: 20px; }
  100% { bottom: -50px; visibility: hidden }
}

.comment-text.up {
  bottom: 30px
}

@media only screen and (max-width: 768px) {
  .comment-text {
    font-size: 19px;
  }
}