.action-text-container {
  width: 80%;
  margin: 0 auto 0 auto;
}
.action-text {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 30%;
  color: #66FCF1;
  font-size: 4em;
  -webkit-transition: font-size 0.2s; /* For Safari 3.1 to 6.0 */
  transition: font-size 0.2s;
  
  /* font-family: 'Pacifico', cursive; */
  font-family: 'Lobster', cursive;
  
}
.action-text:hover {
  font-size: 4.3em;
  /* width: 100%; */
}

@media only screen and (max-width: 768px) {
  .action-text {
    font-size: 30px;
  }

  .action-text:hover {
    font-size: 33px;
  }
}
